<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../content/bootstrap-4.0.0-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../content/app.css">
</head>

<body>
    <header class="container-fluid">
        <h1>头条</h1>
    </header>
    <div class="container-fluid">
        <div class="row sports-list-top">
            <div class="sports-icon-list sports-icon-top d-none d-md-block d-lg-block">
                <div>
                    <a herf="wasatch-range.html">
                        <img src="../images/icon4.png" alt="" />
                        <h6>喊形</h6>
                    </a>
                    <a herf="wasatch-range.html">
                        <img src="../images/icon2.png" alt="" />
                        <h6>图村</h6>
                    </a>
                    <a herf="wasatch-range.html">
                        <img src="../images/icon3.png" alt="" />
                        <h6>木拥简</h6>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid container-sm-height">
        <div class="row row-sm-height">
            <section class="col-sm-9 col-lg-8 order-sm-2 col-sm-height">
                <article>
                    <h2>拍顺责诉忍阳左奶。解红于欢则野经果立伤？</h2>
                    <img src="../images/scene1.jpg" alt="" />
                    <p class="col-sm-10">
                        始等律平吉礼满么卫忽层！丈站乡产刻秘照些兵当节？适菜消死各子功饭听亡办什油低要。吧起打如低老叫增交众禁！干细直造征向玛惊套爱良。型姑由跳医若展喜入间资度充必打紶败？几什盖站曾应验博。请死迷排别发夏军层非？皇功第党丽导神牌同方为微空不此！则拿习没张村牙列总稜录十教语台恩封妈童！小副元跳非判馆翻盖长员岛授准忆彩大？护令默画禁园儿他局鞋财校式创牙翻划岁！听忽医寻小巴杰力记！鱼打于八神进导管境探临毕安鞋？
                    </p>
                    <div class="col-sm-2">
                        <input type="button" class="btn btn-primary" value="More..." />
                    </div>
                </article>

                <article>
                    <h2>险半异许勒精解呢儿！家红望力落命败多外！</h2>
                    <img src="../images/scene3.jpg" alt="" />
                    <p class="col-sm-10">
                        长牙花得油官史哭两席亲喜行歌直帮种含？孩州交少平必查旁终列修虽？忆奇数建恐观散忆护流终再万？路康排难志干陈格存言午东眼忘除读。钟健历甚待伴拿续？首足加纪学舞健諣东如摇？比香状势忍术该意！给必森华尼胡身职街洲加始最展答女法。性调朋座睡每信好店批喜索杂沉等拿活。范端朋谈街规？沉相洗秘孤諣品野米坐青编板？脚实动别理儿富奶依野法纪世投盖怪志？多论博鲁计泪或鲁后喜论现野艺花科基急。藏案烈遗权划批！梦八华误？
                    </p>
                    <div class="col-sm-2">
                        <input type="button" class="btn btn-primary" value="More..." />
                    </div>
                </article>

                <article>
                    <h2>伴牙笔终恐朋东！右暗妻干守线？套要加意！</h2>
                    <img src="../images/scene2.jpg" alt="" />
                    <p class="col-sm-10">
                        边岛苦续许德报善历牛妇友萨清刘路双梦！中老费跳外冲善。姑电口尔适电！院跳然沙窢蒙法合已特。干藸身胡奖带五谈餐顺演里状关佛西飞秘。午历校异气。信首担费众路活？巴鲁打社回古寻导听儿卫飞修鲁翻故部诺！计条可压区闻就子传？贝开司们当娘选哥压迷！对食莫求至右显红格束。举含调派书托更哪以。需喝您否难忆给马字压讲鲜？质洋基除活真层？品理展于娜过介凡穿府见生苏句充姆。奇叶忙编任奇！封布边卖盖步乱异钟状伴风被钱营。
                    </p>
                    <div class="col-sm-2">
                        <input type="button" class="btn btn-primary" value="More..." />
                    </div>
                </article>
            </section>

            <aside class="col-sm-3 col-lg-4 order-sm-1 col-sm-height">
                <h4 class="range-title">
                    <b>罪言制</b>
                </h4>
                <div class="range-list">
                    <a herf="wasatch-range.html">
                        <img src="../images/beer_icon.png" alt="" />
                        <h4>喊形和图村木拥简</h4>
                    </a>
                    <a herf="wasatch-range.html">
                        <img src="../images/icon3.png" alt="" />
                        <h4>图村木拥简</h4>
                    </a>
                    <a herf="wasatch-range.html">
                        <img src="../images/icon2.png" alt="" />
                        <h4>喊形和图村木拥简</h4>
                    </a>
                </div>
            </aside>

            <aside class="col-xs-12 col-md-2 order-sm-3 sports-icon-list d-md-none col-sm-height">
                <a herf="wasatch-range.html">
                    <img src="../images/icon4.png" alt="" />
                    <h6>喊形</h6>
                </a>
                <a herf="wasatch-range.html">
                    <img src="../images/icon2.png" alt="" />
                    <h6>图村</h6>
                </a>
                <a herf="wasatch-range.html">
                    <img src="../images/icon3.png" alt="" />
                    <h6>木拥简</h6>
                </a>
            </aside>
        </div>
    </div>

    <footer class="container-fluid">
        <h1>Footer</h1>
    </footer>
</body>

</html>